.layout-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 6px;
  padding: 0;
  height: 100%;
  width: 100%;

  .layout-left-panel {
    display: flex;
    flex-direction: column;
    padding: 16px;
    justify-content: space-between;
    gap: 6px;

    width: 70%;
    background-color: rgb(212, 212, 240);
  }

  .layout-right-panel {
    width: 30%;
    background-color: aqua;
  }
}

/* @import url('bootstrap/dist/css/bootstrap.min.css'); */

.ash-bg {
  background-color: #f6f7f9;
}
.ash-white {
  background-color: #fff;
}
.header {
  background-color: #322448;
  color: #fff;
}
.logo {
  position: absolute;
  left: 8px;
  top: 8px;
  width: 80px;
}
.footer {
  background-color: #322448;
  color: #fff;
  font-style: italic;
  font-size: 12px;
  text-align: center;
}
.info-cont-left {
  border-left: 8px solid #f6f7f9;
}
.info-cont-center {
  border-left: 8px solid #f6f7f9;
  border-right: 8px solid #f6f7f9;
}
.info-cont-right {
  border-right: 8px solid #f6f7f9;
}

/* drawer */

.chat-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.chat-button:hover {
  background-color: #0056b3;
}

.chat-drawer {
  width: 350px;
  padding: 20px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
